<aside id="chat-side-bar">
    <div id="users-list" class="col col-md-4">
        <div class="chat-user">
            <div class="chat-user-container">
                <img src="static/img/second_user.jpeg" class="avatar img-circle"/>
                <div class="user-status"></div>
                <div class="chat-user-name">عباس تقوایی</div>
            </div>
        </div>
        <div class="chat-user">
            <div class="chat-user-container">
                <img src="static/img/third_user.jpeg" class="avatar img-circle"/>
                <div class="user-status"></div>
                <div class="chat-user-name">کامران فارابی</div>
            </div>
        </div>
        <div class="chat-user">
            <div class="chat-user-container">
                <img src="static/img/fourth_user.jpeg" class="avatar img-circle"/>
                <div class="user-status online"></div>
                <div class="chat-user-name">حسین ضرابی</div>
            </div>
        </div>
    </div>
    <div id="dialog-boxes" class="col col-md-8">
        <div class="chat-box">
            <div class="title">
                <i class="icon icon-remove"></i>محمد پناه آذری
            </div>
            <div class="dialog-content">
                <div class="dialog-text right">
                    <div class="text">سلام، خوبی؟</div>
                </div>
                <div class="dialog-text left">
                    <img src="static/img/second_user.jpeg"/>
                    <div class="text">ممنون ، تو خوبی ؟</div>
                </div>
            </div>
            <textarea rows="1"></textarea>
        </div>
    </div>
</aside>